<!DOCTYPE html>

<html lang="">
<head>
<title>AUTISM</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body id="top">
<div class="bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">

  <div class="wrapper row1">
    <header id="header" class="hoc clear">

      <div id="logo" class="fl_left">
        <h1><a>AUTISM PREDICTION</a></h1>
      </div>

      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="/">Home</a></li>
          <li><a class="active" href="preprocessing">Preprocessing</a></li>


        </ul>
      </nav>

    </header>
  </div>

  <div id="pageintro" class="hoc clear">
  <center>
    <article class="center">
      <h3 class="heading underline">Autism Prediction</h3>
      <div class="row">
  <div class="column">
    <h1>Hello</h1>
<!--    <img src="{{url_for('static',filename='images/demo/gallery/a.png')}}" alt="grapha" style="width:100%">-->
  </div>
<!--  <div class="column">-->
<!--    <img src="b.png" alt="graphb" style="width:100%">-->
<!--  </div>-->
<!--  <div class="column">-->
<!--    <img src="c.png" alt="graphc" style="width:100%">-->
<!--  </div>-->
</div>

    </article>
    </center>

  </div>

</div>

<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="static/layout/scripts/jquery.min.js"></script>
<script src="static/layout/scripts/jquery.backtotop.js"></script>
<script src="static/layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>