<!DOCTYPE html>

<html lang="">
<head>
<title>AUSTISM</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<div class="bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">

  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="index.html">AUSTISM SPECTRUM PREDICTION</a></h1>
      </div>
      <!-- ################################################################################################ -->
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="preprocessing">Preprocessing</a></li>
        </ul>
      </nav>
    </header>
  </div>

<div class="wrapper row2">
  <article class="hoc container clear" style="padding-top:0px">
    <div class="center btmspace-80"></div>
    <ul class="nospace group figures btmspace-80">
      <li class="one_third first">
        <figure><img src="static/images/demo/gallery/a.png" alt="">
          <figcaption></figcaption>
        </figure>
      </li>
      <br>
      <li class="one_third">
        <figure><img src="static/images/demo/gallery/b.png" alt="">
          <figcaption></figcaption>
        </figure>
      </li>
      <br>
      <li class="one_third">
        <figure><img src="static/images/demo/gallery/c.png" alt="">
          <figcaption></figcaption>
        </figure>
      </li>
      <br>
      <br>
        <li class="one_third">
        <figure><img src="static/images/demo/gallery/d.png" alt="">
          <figcaption></figcaption>
        </figure>
      </li>
      <br>
       <li class="one_third">
        <figure><img src="static/images/demo/gallery/e.png" alt="">
          <figcaption><a href="#">Nisl nec lectus donec amet justo</a></figcaption>
        </figure>
      </li>
      <br>
       <li class="one_third">
        <figure><img src="static/images/demo/gallery/f.png" alt="">
          <figcaption><a href="#">Nisl nec lectus donec amet justo</a></figcaption>
        </figure>
      </li>
      <br>
       <li class="one_third">
        <figure><img src="static/images/demo/gallery/g.png" alt="">
          <figcaption><a href="#">Nisl nec lectus donec amet justo</a></figcaption>
        </figure>
      </li>

    </ul>

  </article>
</div>

<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="static/layout/scripts/jquery.min.js"></script>
<script src="static/layout/scripts/jquery.backtotop.js"></script>
<script src="static/layout/scripts/jquery.mobilemenu.js"></script>
</div>
</body>
</html>